.content {
    min-height: calc(100vh - 64px - 70px);
    margin-top: 50px;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.input-search {
    order: 1;
}


.submit_btn {
    width: 80px;
    height: 50px;
}


.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content > div {
    width: 300px;
    height: auto;
    margin-bottom: 80px;
}

